php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off

AddDefaultCharset UTF-8

# Enable browser site caching
#<IfModule mod_expires.c>
#  ExpiresActive On
#  ExpiresDefault A3600
#  ExpiresByType text/html A1
#</IfModule>

RewriteEngine on

RewriteRule ^(assets|static|protected/utils/(adminer|dumper|gitLog|gitPull)|var/(dumper|files)) - [L]
RewriteRule ^(favicon.ico|robots.txt|index\.php)$ - [L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^var/thumbs - [L]

RewriteRule ^.*$ index.php [L]


<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  <IfModule mod_setenvif.c>
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  </IfModule>
</IfModule>