body {
	text-align: left;
}

.cfix:after, .clear {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;

  *zoom: 1;
  *display: block;
}

.grid-view .summary {
    margin: 0 0 5px 0;
    text-align: right;
}

.grid-view th {
    text-align: center;
}

.grid-view table th a.desc {
    background: url(down.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table th a.asc {
    background: url(up.gif) right center no-repeat;
    padding-right: 10px;
}

.grid-view table th span.caret {
    display: none;
}

.grid-view .pager {
    margin: 5px 0 0 0;
    text-align: right;
}

.grid-view {
	padding:0;
}

h1 {
    padding-bottom: 20px;
}

.content {
	text-align: center;
}

.inner_container {
	width: 980px;
    margin: 0 auto;
	text-align: left;
	padding-bottom: 50px;
}

.treeview ul {
    background-color: transparent;
}


.form-label-width-60 label.control-label {
    width: 60px;
}

.form-label-width-60 div.controls {
    margin-left: 80px;
}

.form-label-width-80 label.control-label {
    width: 80px;
}

.form-label-width-80 div.controls {
    margin-left: 100px;
}

.form-label-width-100 label.control-label {
    width: 100px;
}

.form-label-width-100 div.controls {
    margin-left: 120px;
}

.form-label-width-120 label.control-label {
    width: 120px;
}

.form-label-width-120 div.controls {
    margin-left: 140px;
}

.form-label-width-140 label.control-label {
    width: 140px;
}

.form-label-width-140 div.controls {
    margin-left: 160px;
}

.form-label-width-160 label.control-label {
    width: 160px;
}

.form-label-width-160 div.controls {
    margin-left: 180px;
}

.form-label-width-180 label.control-label {
    width: 180px;
}

.form-label-width-180 div.controls {
    margin-left: 200px;
}

.form-label-width-200 label.control-label {
    width: 200px;
}

.form-label-width-200 div.controls {
    margin-left: 220px;
}

.form-label-width-220 label.control-label {
    width: 220px;
}

.form-label-width-220 div.controls {
    margin-left: 240px;
}

.form-container-horizontal {
}

.form-container-horizontal .help-inline {
    display: none;
}

.form-container-horizontal .form-container-item{
    float: left;
}


.cfix:after, .clear {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
    *display: block;
}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    color: #544E4F;
}

.iconplussim {
    position: absolute;
    left: 590px;
    bottom: 15px;
}

.left-label {}

.left-label label {
  margin: 0;
  padding: 0;
  float: left;
  width: 185px;
  line-height: 30px;
  text-align: right;
  margin-right: 10px;
}

.left-label .controls {
  float: left;
  margin-right: 80px;
}

.left-label .controls input {
  margin: 0;
}

.left-label .controls input.width70 { width: 70px; }
.left-label .controls input.width100{ width: 100px; }

.total_items_price {
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

/*
.grid-view .selected td {
    background: gray !important;
}
*/

.delivery_help {
  padding: 0 0 15px;
  font-size: 14px;
  color: red;
}

.h3-balance {
  margin-bottom: 0;
  color: #3A87AD;
  background-color: #D9EDF7;
  border: 1px solid #BCE8F1;
  line-height: 1;
  padding: 10px 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;

  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.menuLeft {
  float: left;
  margin-top: 20px;
  width: 182px;
}

.well {
  padding: 10px 8px;
}

.contentRight {
  float: right;
  margin-top: 20px;
  width: 760px;
}

.message_views {}

.message_views .bootstrap-widget-header h3 {
  position: relative;
}

.message_views .bootstrap-widget-header h3 span {
  position: absolute;
  right: 10px;
  top: 12px;
}

.number_info {}
.number_info table tr th {
  width: 140px;
}
.number_info .w80 table {}
.number_info .w80 table tr th {
  width: 80px;
}
.number_info .w300 table tr th {
  width: 300px;
}
.number_info .table_margin0 table {
  margin: 0;
}

table.margin_b0 {
  margin: 0;
}

.service_buttons {
  padding: 20px 20px 5px 20px;
}
.service_buttons>a {
  margin: 0 20px 15px 0;
}

.get_specification {}
.get_specification .control-group  {
  display: inline-block;
  margin: 0;
}
.get_specification .controls {float: left; margin: 0 10px 0 10px;}
.get_specification .control-group button {
  float: left;
}
.gridSummary {
  margin-bottom: 5px;
  padding-top: 10px;
}
.gridSummary .summary {
  padding: 5px 0 0 !important;
}
.pOS_load_passport {
  border: 1px dashed red;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}
.login_info {
  text-align: left;
  margin: 0 auto;
  width: 450px;
  height: 400px;
}
.pOLogin {
  margin-top: 0;
}
.backgroundwhite th, .backgroundwhite.table-striped td {
  background: white !important;
}